<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]> <html class="no-js"> <![endif]-->
<html>
  <head>
    {{ partial "header.html" .}}
  </head>
  <body>
    <div class="sideMenu slideout-menu" id="menu">{{ partial "side-menu.html" .}}</div>
    <div class="rightCtr slideout-panel" id="panel">
      {{ partial "blog-header.html" .}}
      <div class="mainContentCtr">
        {{if .Params.banner}}
          <div class="headerImageCtr" style="background-image:url({{.Params.banner}})"></div>
        {{end}}
        {{if and .Params.author .Params.authorAvatar}}
          <div class="authorCtr">
            {{if .Params.authorAvatar}}
              <div class="authorAvatar {{.Params.authorAvatar}}"></div>
            {{end}}
            <div class="authorDetails">
              <div class="authorName">{{.Params.author}}</div>
              {{if .Params.authorRole}}
                <div class="authorRole">{{.Params.authorRole}}</div>
              {{end}}
            </div>
          </div>
        {{end}}
        <div class="mainContent" id="mainContent">
          {{ .Content}}
        </div>
      </div>
    </div>
    {{ partial "footer.html" .}}
  </body>
</html>
