html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: 'Poppins', Arial, sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.75;
  color: #6f718e;
  background: #fff;
  height: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #1f50ae;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #1f50ae;
  outline: none;
}

p {
  margin-bottom: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #172344;
  font-weight: 400;
  margin: 0 0 30px 0;
}

::-webkit-selection {
  color: #fff;
  background: #f9f6f0;
}

::-moz-selection {
  color: #fff;
  background: #f9f6f0;
}

::selection {
  color: #fff;
  background: #1f50ae;
}

/* Blog Header */

.blogHeader {
  padding: 25px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #fff;
  -webkit-transition: box-shadow 100ms ease-in;
  -moz-transition: box-shadow 100ms ease-in;
  -o-transition: box-shadow 100ms ease-in;
  transition: box-shadow 100ms ease-in;
}

.blogDetailsHeader {
  display: none;
}
.blogHeader .authorCtr {
  display: none;
}
.blogHeader.sticky .authorCtr {
  display: flex;
}
@media screen and (min-width: 768px) {
  .blogHeader {
    border-bottom: solid 1px #e4e4e4;
  }
  .blogHeader.home {
    border-bottom: none;
  }
}
.redBtn {
  background: #e33649;
  color: #fff;
  padding: 12px 35px;
  font-size: 0.705rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 25px;
  margin-right: 18px;
  text-decoration: none;
}
.redBtn:hover {
  background: #c32f3f;
  color: #fff;
}
.headerRightCtr {
  display: flex;
  align-items: center;
}

.menuIcon {
  font-size: 20px;
}

.logoIcon {
  width: 40px;
  height: 40px;
  background-image: url('/images/logoIcon.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}
.blogHeader.scrolling {
  box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.08);
}
.blogHeader.sticky {
  padding: 20px 25px;
}
.blogHeader .authorCtr {
  padding: 0px;
}
.blogHeader .authorName {
  font-weight: 500;
}
.blogHeader.sticky .authorCtr {
  display: flex;
}
.blogHeader.sticky .redBtn,
.blogHeader.sticky .logoIcon {
  display: none;
}
.blogHeaderTitle {
  color: #172344;
  line-height: 1;
  font-size: 1rem;
}
.headerBackLink {
  font-size: 0.8235rem;
  color: #6b7797;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .blogHeader {
    left: 320px;
  }
  .menuIcon {
    display: none !important;
  }
  .redBtn {
    margin-right: 0;
  }
  .blogHeader .logoIcon {
    display: none;
  }
  .blogHeader.sticky .redBtn {
    display: block;
  }
  .blogDetailsHeader {
    display: none;
  }
  .blogHeader.sticky .blogDetailsHeader {
    display: none;
  }
  .blogHeader .authorName {
    font-size: 1rem;
  }
  .blogHeader .authorRole {
    font-size: 0.88rem;
  }
  .redBtn {
    font-size: 0.75rem;
  }
}
/* Side Menu */
.sideMenuWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.sideMenuHeader {
  padding: 15px;
}

.sideMenuHeader .logoIcon {
  display: none;
}

.sideMenuTitleCtr {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.sideMenuTitleCtr i {
  font-size: 20px;
}
.sidemenuClose {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 10px;
}
.sidemenuClose img {
  width: 15px;
}
.siteTitle {
  font-size: 1.35rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}
.siteTitle:hover {
  color: #fff;
}
.siteSubTitle {
  font-size: 0.8235rem;
  font-weight: 400;
}

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
  background: #1f50ae;
  color: #fff;
  padding: 17px;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  background-color: #fff;
  /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

@media screen and (min-width: 768px) {
  .slideout-panel {
    margin-left: 320px;
  }
  .slideout-menu {
    display: block;
    width: 320px;
  }
  .sideMenu .logoIcon {
    display: block;
    margin-bottom: 50px;
  }
  .sidemenuClose {
    display: none;
  }
}

/*Nav Menu */
.navWrapper {
  flex: 1;
}
.navWrapper a {
  color: #78a3f4;
  text-decoration: none;
  display: block;
  padding: 12px 15px;
}
.highlightable {
  padding: 15px 0;
  padding-top: 10px;
}
.topics > .dd-item {
  margin-bottom: 15px;
}
.dd-item a:hover {
}
.dd-item.active a {
  color: #fff;
  font-weight: 500;
}
.searchWrapper {
  padding: 12px;
}
.searchbox {
  position: relative;
}
.searchbox input {
  background: #184499;
  border: none;
  padding: 15px;
  border-radius: 3px;
  color: #fff;
  width: 100%;
  font-size: 0.8235rem;
  padding-left: 45px;
}
.searchbox input:focus {
  outline: 0;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #5989e3;
  font-family: 'Poppins';
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #5989e3;
  font-family: 'Poppins';
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #5989e3;
  font-family: 'Poppins';
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #5989e3;
  font-family: 'Poppins';
}
.searchbox label {
  position: absolute;
  left: 15px;
  top: 50%;
  margin-top: -12px;
}
.searchbox i {
  font-size: 14px;
  color: #5989e3;
}
.search-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: hsla(0, 0%, 100%, 0);
  z-index: 10000;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}
.autocomplete-suggestions {
  text-align: left;
  cursor: default;
  border: 1px solid #f4f4f4;
  border-top: 0;
  background: #fff;
  /* core styles should not be changed */
  position: absolute;
  display: none;
  z-index: 9999;
  max-height: 254px;
  overflow: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  z-index: 10010;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 7px 17px 0 rgba(0, 0, 0, 0.1);
}
.autocomplete-suggestion {
  position: relative;
  cursor: pointer;
  padding: 7px;
  line-height: 23px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #333;
  font-size: 16px;
  background: #fff;
}

.autocomplete-suggestion b {
  font-weight: normal;
  color: #1f8dd6;
}

.autocomplete-suggestion.selected {
  background: #f4f4f4;
  color: #555;
}

.autocomplete-suggestion:hover {
  background: #f4f4f4;
  color: #555;
}

.autocomplete-suggestion > .context {
  font-size: 12px;
}
.sectionHeader {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #a1c1ff;
  padding: 10px 15px;
}
.headerImageCtr {
  height: 272px;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  background-position: center bottom;
  margin: 20px 0;
}

@media screen and (min-width: 768px) {
  .headerImageCtr {
    height: 320px;
  }
}

.authorCtr {
  padding: 25px;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
}

.authorAvatar {
  width: 52px;
  height: 52px;
  background-size: contain;
  margin-right: 15px;
}

.authorAvatar.omar {
  background-image: url('/images/authors/omar.png');
}

.authorName {
  color: #172344;
  font-size: 0.88rem;
  font-weight: 400;
}

.authorRole {
  color: #6b7797;
  font-size: 0.765rem;
}
.mainContentCtr {
  padding-top: 90px;
}
.mainContent {
  padding: 25px;
  font-size: 0.8235rem;
}
.mainContent strong {
  font-weight: bold;
}
.mainContent h1 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 18px;
}
.mainContent img {
  max-width: 100%;
}
.mainContent p {
  margin-bottom: 18px;
}

.mainContent h2,
.mainContent h3 {
  font-size: 1.11764rem;
  font-weight: bold;
  margin-bottom: 18px;
  margin-top: 5px;
}

.mainContent a {
  color: #1f50ae;
  font-weight: 600;
  text-decoration: none;
}

.mainContent hr {
  color: #dedbe0;
  border-width: 0.5px;
  margin: 30px 0;
}
.mainTitle {
  display: none;
}
@media screen and (min-width: 768px) {
  .navWrapper a {
    font-size: 0.8236rem;
  }
  a.sectionHeader {
    font-size: 0.647rem;
  }
  .navWrapper a {
    padding: 10px 15px;
  }
  .navWrapper a:hover {
    background: #2d5ebe;
  }
}
@media screen and (min-width: 992px) {
  .mainTitle {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px 65px;
    margin-bottom: 25px;
    padding-top: 60px;
  }
  .emojiCtr {
    font-size: 70px;
    margin-right: 15px;
  }
  .headerImageCtr {
    height: 400px;
  }
  .mainContentCtr {
    padding-top: 90px;
  }
  .mainContent {
    padding: 25px 65px;
    max-width: 1000px;
    margin: 0 auto;
  }
  .mainContentCtr .authorCtr {
    padding: 25px 65px;
  }
  .mainContent p {
    font-size: 1rem;
  }
  .mainContent h1 {
    font-size: 1.94rem;
  }
  .mainContent h2,
  .mainContent h3 {
    font-size: 1.35rem;
  }
  .mainTitle h1 {
    font-size: 2.47rem;
    color: #172344;
    font-weight: 500;
    margin-bottom: 0px;
  }
  .blogMeta {
    font-size: 0.88rem;
    color: #6b7797;
  }
}
@media screen and (min-width: 1440px) {
  .mainTitle {
    padding-top: 100px;
  }
  .headerImageCtr {
    height: 500px;
  }
}

/* Social Links */
@media screen and (min-width: 992px) {
  .socialCtr {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  .share-btn:hover {
    background: #fff;
    color: #1f50ae;
  }
  .share-btn:focus {
    color: #4a5274;
    background: #fff;
  }
}

/* Sidebar Footer */
.footerSidebar {
  padding: 15px;
}
.footerSidebar .footerLink {
  color: #fff;
  font-size: 0.94rem;
  text-decoration: none;
}
.footerCopyright {
  color: #78a3f4;
  font-size: 0.765rem;
}
.socialMobile {
  display: flex;
  align-items: center;
}
.socialMobile li {
}
.socialMobile li a {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #e4e6ed;
  padding: 10px;
  margin: 10px 0;
  border-radius: 50%;
  text-decoration: none;
  margin-right: 20px;
  width: 40px;
  height: 40px;
}
.github-link {
  padding: 10px;
  margin: 20px 0;
  background: #f4f4f4;
  border-radius: 2px;
  display: inline-block;
}
@media screen and (min-width: 992px) {
  .socialMobile {
  }
}
@media screen and (min-width: 1440px) {
  .socialCtr {
    bottom: 35px;
    right: 35px;
  }
}
