	<!-- jQuery -->
	<script src="{{ "js/jquery.min.js" | relURL }}"></script>
	<!-- jQuery Easing -->
	<script src="{{ "js/jquery.easing.1.3.js" | relURL }}"></script>
	<!-- Bootstrap -->
	<script src="{{ "js/bootstrap.min.js" | relURL }}"></script>
	<!-- Waypoints -->
	<script src="{{ "js/jquery.waypoints.min.js" | relURL }}"></script>
	<!-- Stellar Parallax -->
	<script src="{{ "js/jquery.stellar.min.js" | relURL }}"></script>
	<!-- Counter -->
	<script src="{{ "js/jquery.countTo.js" | relURL }}"></script>
	<!-- Magnific Popup -->
	<script src="{{ "js/jquery.magnific-popup.min.js" | relURL }}"></script>
	<script src="{{ "js/magnific-popup-options.js" | relURL }}"></script>
	<!-- Google Map -->
	<script src="{{ "js/mouse-dots.js" | relURL }}"></script>
	<script src="{{ "js/main.js" | relURL }}"></script>
