#fh5co-static {
  background-color: transparent;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  background-color: #50049b;
  color: #fff;
  overflow: hidden;
  position: relative;
  height: 530px;
}

#fh5co-static .text-wrap {
  height: 600px;
}

#fh5co-static .text-wrap {
  display: table;
  width: 100%;
  position: relative;
  z-index: 4;
}

#fh5co-static .text-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#fh5co-static .text-inner a {
  color: white;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#fh5co-static .text-inner a:hover,
#fh5co-static .text-inner a:active,
#fh5co-static .text-inner a:focus {
  text-decoration: none;
  color: white;
  border-bottom: 1px dashed white;
}

#fh5co-static .text-inner h1 {
  font-size: 50px;
  color: white;
  margin: 0 0 20px 0;
}

#fh5co-static .text-inner h2 {
  font-size: 28px;
  line-height: 38px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
}

/* Timeline */

.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}

.timeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  background-color: #f1f1f1;
}

.timeline > li {
  position: relative;
  margin-bottom: 50px;
  min-height: 50px;
}

.timeline > li:before,
.timeline > li:after {
  content: ' ';
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li .timeline-panel {
  float: right;
  position: relative;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li .timeline-image {
  z-index: 100;
  position: absolute;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  border: 7px solid #f1f1f1;
  border-radius: 100%;
  text-align: center;
  color: #fff;
  background-color: #fed136;
}

.timeline > li .timeline-image h4 {
  margin-top: 12px;
  font-size: 10px;
  line-height: 14px;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li:last-child {
  margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}

.timeline .timeline-heading h4.subheading {
  text-transform: none;
}

.timeline .timeline-body > p,
.timeline .timeline-body > ul {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    margin-bottom: 55px;
    min-height: 100px;
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 16px;
    font-size: 13px;
    line-height: 18px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 30px;
    font-size: 18px;
    line-height: 26px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}

@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}

/* End Timeline */

.static-page .container {
  margin: 30px auto;
}

.static-page h3 {
  font-weight: 300;
  line-height: 1.5;
  color: #929292;
  text-align: center;
}

.main-ctr {
  margin: 40px auto;
}

.main-ctr .col-md-8 {
  border-left: solid 1px #f4f4f4;
}

.main-ctr .col-md-8 img {
  max-width: 100%;
}

ul.topics {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.topics ul {
  padding-left: 2em;
  list-style: none;
}

ul.topics li a {
  padding: 10px 0;
  border-bottom: solid 1px #f4f4f4;
  width: 100%;
  display: inline-block;
  color: #4c555a;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  font-size: 18px;
  padding-right: 10px;
}

ul.topics li a:hover {
  font-weight: 300;
}

ul.topics > li > a {
  background: #f4f4f4;
  padding: 10px;
  border: none;
}

ul.topics li.visible > a {
  color: #111;
  transform: translate(5px);
}

ul.topics ul li.active a {
  color: #50049b;
}

.main-ctr h1 {
  border-bottom: 2px solid #f4f6f7;
  padding-bottom: 20px;
}

#breadcrumbs {
  margin-bottom: 30px;
}

#breadcrumbs .links {
  font-size: 16px;
}

#breadcrumbs .links a {
  color: #50049b;
}

.searchbox {
  position: relative;
  border-bottom: 1px solid #f4f4f4;
  margin-bottom: 10px;
  z-index: 10010;
}

.searchbox label {
  color: #bbb;
  position: absolute;
  left: 1px;
  top: 50%;
  margin-top: -13px;
}

.searchbox span {
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
  right: 10px;
  top: 3px;
  cursor: pointer;
}

.searchbox span:hover {
  color: rgba(255, 255, 255, 0.9);
}

.searchbox input {
  display: inline-block;
  color: #555;
  width: 100%;
  background: transparent;
  border: 0;
  padding: 10px 25px 10px 30px;
  margin: 0;
  font-weight: 300;
}

.searchbox input:focus {
  outline: none;
}

.searchbox input::-webkit-input-placeholder {
  color: #bbb;
}

.searchbox input::-moz-placeholder {
  color: #bbb;
}

.searchbox input:-moz-placeholder {
  color: #bbb;
}

.searchbox input:-ms-input-placeholder {
  color: #bbb;
}

.autocomplete-suggestions {
  text-align: left;
  cursor: default;
  border: 1px solid #f4f4f4;
  border-top: 0;
  background: #fff;
  /* core styles should not be changed */
  position: absolute;
  display: none;
  z-index: 9999;
  max-height: 254px;
  overflow: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  z-index: 10010;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 7px 17px 0 rgba(0, 0, 0, 0.1);
}

.autocomplete-suggestion {
  position: relative;
  cursor: pointer;
  padding: 7px;
  line-height: 23px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #333;
  font-size: 16px;
  background: #fff;
}

.autocomplete-suggestion b {
  font-weight: normal;
  color: #1f8dd6;
}

.autocomplete-suggestion.selected {
  background: #f4f4f4;
  color: #555;
}

.autocomplete-suggestion:hover {
  background: #f4f4f4;
  color: #555;
}

.autocomplete-suggestion > .context {
  font-size: 12px;
}

.main-ctr.container {
  position: relative;
}

.search-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: hsla(0, 0%, 100%, 0.8);
  z-index: 10000;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.p-articles {
  list-style: none;
  padding: 0;
  margin: 0;
}

.p-articles li {
  padding: 20px;
}

.list-li a {
  color: #555;
}

.list-li a:hover {
  text-decoration: none;
}

.p-articles li:nth-child(odd) {
  background: #fafafa;
}

.p-articles li:hover {
  background: #f7f7f7;
  cursor: pointer;
}

.list-li h3 {
  font-size: 20px;
}

.list-li .summary {
  font-size: 16px;
}

.list-li footer a {
  font-size: 14px;
  color: #337ab7;
}

.toggle-sidebar {
  display: none;
  border: solid 1px #f4f4f4;
  border-radius: 2px;
  background: #f4f4f4;
  padding: 10px;
  z-index: 1000;
}

.toggle-sidebar i {
  font-size: 30px;
  display: inline-block;
  vertical-align: middle;
}
.toggle-sidebar .toggle-text {
  vertical-align: middle;
  margin-left: 10px;
  display: none;
}
.social-ctr {
  margin-top: 25px;
}

.left-ctr {
  position: relative;
}
.right-ctr {
}
.social.social-circle i {
  -webkit-transition: all 0.5s;
  /* Safari */
  transition: all 0.5s;
}

.social.social-circle a:hover i {
  color: #ffdf00;
  font-size: 20px;
}
#footer .col-md-6 {
  position: relative;
}
.block-message {
  position: absolute;
  top: 100%;
  font-size: 14px;
  padding-top: 5px;
  color: #ffdf00;
}
.spinner {
  position: absolute;
  color: #555;
  right: 0px;
  top: 50%;
  margin-top: -10px;
  right: 10px;
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
  display: none;
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

#notifyMe.loading .spinner {
  display: block;
}

a.github-link {
  background: #f4f4f4;
  color: #50049b;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}
a.github-link:hover {
  background: #f0f0f0;
  text-decoration: none;
}
@media (max-width: 992px) {
  .container {
    width: 100%;
  }
  #fh5co-header {
    margin-top: 20px;
  }
  .navbar-ctr {
    padding: 10px 15px;
  }
  .main-ctr {
    display: flex;
  }
  .right-ctr {
    flex: 1;
  }
  .toggle-sidebar {
    display: block;
  }
  .menu-open .left-ctr {
    box-shadow: 5px 4px 10px #f4f4f4;
  }
  .sidebar-inner {
    display: none;
  }
  .menu-open .sidebar-inner {
    display: block;
  }
  .menu-open .toggle-sidebar {
    position: absolute;
    right: -68px;
  }
  .menu-open .right-ctr {
    opacity: 0.2;
  }
  #footer .col-md-6 {
    width: 80%;
  }
  .left-ctr {
    max-width: 60%;
  }
}
@media (max-width: 768px) {
  #fh5co-header {
    margin-top: 0px;
  }

  .left-ctr {
    max-width: 60%;
  }
}
@media (max-width: 600px) {
  .main-ctr {
    flex-direction: column;
  }
  .left-ctr {
    max-width: 100%;
  }
  .menu-open .left-ctr {
    box-shadow: none;
  }
  .menu-open .toggle-sidebar {
    position: relative;
    left: 0;
  }
  .menu-open .right-ctr {
    display: none;
  }
  .left-ctr {
    margin-bottom: 20px;
  }
  .main-ctr .col-md-8 {
    border: none;
  }
  .toggle-sidebar .toggle-text {
    display: inline-block;
  }
  h2 {
    font-size: 28px;
  }
  .main-ctr.container {
    padding-left: 5px;
    padding-right: 5px;
  }
  a.github-link {
    font-size: 14px;
  }
}
