<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]> <html class="no-js"> <![endif]-->
<html>

  <head>
    {{ partial "head.html" .}}
  </head>

  <body>
    {{ partial "nav.html" .}}
    <div class="main-header">
      {{ partial "hero-common.html" .}}
    </div>
    <div class="main-ctr container">
      <div id="search-overlay" class="search-overlay"></div>
      <div class="col-md-4 left-ctr">
        {{ partial "toggle.html" .}}
        <div class="sidebar-inner">
          {{ partial "search.html" .}}
          {{ partial "menu.html" . }}
        </div>
      </div>
      <div class="col-md-8 right-ctr">
        <div id="breadcrumbs" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
          <span id="sidebar-toggle-span">
            <a href="#" id="sidebar-toggle" data-sidebar-toggle="">
              <i class="fa fa-bars"></i>
            </a>
          </span>
          <span class="links">
            {{ template "breadcrumb" dict "page" . "value" .Title }}
          </span>
        </div>
        <ul class="p-articles">
      {{ range (.Paginate .Data.Pages).Pages }}
      <li>{{ .Render "li" }}</li>
      {{ end }}
    </ul>
      </div>
    </div>
    <div class="main-footer">
      {{ if .Site.Params.footer.enable }}
        {{ partial "footer.html" .}}
      {{ end }}
    </div>
    {{ partial "js.html" .}}
  </body>

</html>
{{define "breadcrumb"}}
  {{$parent := .page.Parent }}
  {{ if $parent }}
    {{ $value := (printf "<a href='%s'>%s</a> > %s" $parent.URL $parent.Title .value) }}
    {{ template "breadcrumb" dict "page" $parent "value" $value }}
  {{else}}
    {{.value|safeHTML}}
  {{end}}
{{end}}
