<footer id="footer" role="contentinfo">
  <!-- <a href="#" class="gotop js-gotop"><i class="icon-arrow-up2"></i></a> -->
  <div class="container">
    <div class="">
      <div class="col-md-12 text-center">
        <p class="footer_text">
          Built in {{ dateFormat "2006" now}} {{ with .Site.Params.footer.copyright }}{{ . | markdownify }}{{ end }}
        </p>
        <p>
          <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a>
        </p>
      </div>
    <div class="row social-ctr">
      <div class="col-md-12 text-center">
        <ul class="social social-circle">
          <li>
            <a href="https://twitter.com/EsanjoHQ">
              <i class="icon-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://github.com/Esanjo">
              <i class="icon-github"></i>
            </a>
          </li>
          <li>
            <a href="https://blog.esanjo.com">
              <i class="icon-medium"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>

    </div>
  </div>
</footer>
